ul.cv-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.cv-list li {
  display: flex;
  flex-wrap: wrap;
}

.cv-list li h3 {
  flex: 0 0 100%;
  margin-bottom: 8px;
}

.cv-list li button {
  margin-left: auto;
}

fieldset {
  margin: 24px 0;
  padding: 24px 16px;
}

legend {
  font-size: 20px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
.react-calendar-datetime-picker .input-picker {
  height: 32px !important;
}

input,
.react-calendar-datetime-picker .input-picker,
textarea {
  width: calc(100% - 16px) !important;
}

input,
.react-calendar-datetime-picker .input-picker input,
textarea {
  outline: none !important;
  border-radius: 8px !important;
  border: 1px solid #333 !important;
  padding: 4px 8px !important;
}

.react-calendar-datetime-picker .input-picker input {
  width: 100% !important;
}

input,
textarea {
  margin-bottom: 24px;
}

button {
  margin-top: 32px;
  background-color: rgb(23, 23, 134);
  color: #fff;
}
