ul.cv-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.cv-list li {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.cv-list li h4,
.cv-list:has(.text) .subtitle {
  flex: 0 0 100%;
  margin-bottom: 8px;
}

.cv-list li button:has(+ button) {
  margin-left: auto;
}

.cv-list li button {
  margin-top: 0;
}

fieldset {
  margin: 24px 0;
  padding: 24px 16px;
  border: 2px solid #535bf2;
}

legend {
  font-size: 20px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
.react-calendar-datetime-picker .input-picker {
  height: 32px !important;
}

input,
.react-calendar-datetime-picker .input-picker,
textarea {
  width: calc(100% - 16px) !important;
}

input,
.react-calendar-datetime-picker .input-picker input,
textarea {
  outline: none !important;
  border-radius: 8px !important;
  padding: 4px 8px !important;
  border: 2px solid #535bf2 !important;
}

input:focus,
.react-calendar-datetime-picker .input-picker input:focus,
textarea:focus {
  border: 2px solid #1c27e6 !important;
}

.react-calendar-datetime-picker .input-picker input {
  width: 100% !important;
}

input,
textarea {
  margin-bottom: 24px;
}

.header,
.react-calendar-datetime-picker .daysList .is-selected-day-from,
.react-calendar-datetime-picker .daysList .is-selected-day-to {
  background-color: #535bf2 !important;
}

.react-calendar-datetime-picker .daysList .is-selected-day-range {
  color: #1c27e6 !important;
  background-color: #c8caf0 !important;
}

.react-calendar-datetime-picker .daysList .is-today {
  box-shadow: inset 0 0 0 2px #535bf2 !important;
}

.react-calendar-datetime-picker .is-selectedYearRef,
.react-calendar-datetime-picker .monthList_month.is-selected-month {
  color: #535bf2 !important;
}

@media (max-width: 832px) {
  .cv-list li {
    display: block;
  }
  .cv-list button + button {
    margin-left: 16px;
  }
}
